@model AppCrudCore.Models.TransaccionBiblioteca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransaccionBiblioteca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompletada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompletada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTransaccionBiblioteca">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
