@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<AppCrudCore.Models.Empleado>;
<section class="main-container">
    <div class="glass-card table-page">
        <header class="table-header">
            <div class="header-content">
                <h1 class="title">Lista de Empleados</h1>
                <p class="subtitle">Gestiona a tus empleados de manera simple</p>
            </div>
            <a asp-controller="Empleado" asp-action="Nuevo" class="btn btn-success mb-3">Nuevo</a>
        </header>
        <div class="table-responsive">
            <table class="modern-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre completo</th>
                        <th>Cédula</th>
                        <th>Correo</th>
                        <th>Permisos</th>
                        <th>Fecha contraro</th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdEmpleado</td>
                            <td>@item.NombreCompleto</td>
                            <td>@item.Cedula</td>
                            <td>@item.Correo</td>
                            <td>@item.Rol.Nombre</td>
                            <td>@item.FechaContrato.ToString("dd/MM/yyyy")</td>
                            <td>@(item.Activo ? "SI" : "NO")</td>
                            <td>
                                <a asp-controller="Empleado" asp-action="Editar" asp-route-id="@item.IdEmpleado" class="btn btn-primary mb-3">Editar</a>
                                <button class="btn btn-danger mb-3"
                                        onclick="document.getElementById('idEliminar').value='@item.IdEmpleado'; document.getElementById('dlgEliminar').showModal();">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<dialog id="dlgEliminar">
    <form asp-action="Eliminar" method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" id="idEliminar" name="id" />

        <p>¿Está seguro que desea eliminar este empleado?</p>

        <menu>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <button type="button" onclick="this.closest('dialog').close()">Cancelar</button>
        </menu>
    </form>
</dialog>

</div>