@model IEnumerable<AppCrudCore.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<section class="main-container">
    <div class="glass-card table-page">
        <header class="table-header">
            <div class="header-content">
                <h1 class="title">Clientes</h1>
                <p class="subtitle">Gestiona facilmente tus clientes</p>
            </div>
            <a asp-action="Create" class="btn-create">+ Nuevo Cliente</a>
        </header>
        <div class="table-responsive">
            <table class="modern-table">
                <thead>
                    <tr>
                        <th>Cédula </th>
                        <th>Nombre Completo </th>
                        <th>Correo </th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Fecha Registro</th>
                        <th>Hash</th>
                        <th>Pass Temporal</th>
                        <th>Activo</th>
                        <th>Rol</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cedula)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreCompleto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaRegistro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PasswordHash)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PasswordTemp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rol.Nombre)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdCliente">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.IdCliente">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdCliente">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
